<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MPG Prediction</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">MPG
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Filters</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label" for="displacement">Displacement</label>
                            <input type="text" class="form-control" value="140" id="displacement">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="horsepower">Horsepower</label>
                            <input type="text" class="form-control" value="90" id="horsepower">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="weight">Weight</label>
                            <input type="text" class="form-control" value="2408" id="weight">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="acceleration">Acceleration</label>
                            <input type="text" class="form-control" value="19.5" id="acceleration">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label" for="year">Model Year</label>
                            <select id="year">
                                <option value="70">70</option>
                                <option value="71">71</option>
                                <option value="72">72</option>
                                <option value="73">73</option>
                                <option value="74">74</option>
                                <option value="75">75</option>
                                <option value="76">76</option>
                                <option value="77">77</option>
                                <option value="78">78</option>
                                <option value="79">79</option>
                                <option value="80">80</option>
                                <option value="81">81</option>
                                <option value="82">82</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="cylinders">Nº Cylinders</label>
                            <select id="cylinders"><br>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="origin">Origin</label>
                            <select id="origin">
                                <option value="1">American</option>
                                <option value="2">European</option>
                                <option value="3">Japanese</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" id="filter">Make Prediction!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 id="output"></h1>
            </div>
        </div>
    </div>

</body>

</html>

</html>