
/* Table */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* The wrapper contains all of the page's content*/
.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
    
}

  /* Adding styles to the aside and filter form */
.ufo-form {
    margin-top: 50px;
}

/* Filter box top heading */
.panel-heading {
    background-color: #FD7E14;
    font-size: 16px;
}

.panel-default {
    background-color: lightgray;
    color: #FD7E14;
    text-align: center;
    font-size: 16px;
}

.filters .panel-body {
    padding: 0;
    background-color: whitesmoke;
    font-size: 16px;
}

.filters {
    margin-top: 10px;
    background-color: whitesmoke
    
}

#filter-btn {
    background-color: #FFC107;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    
}

#clear-btn {
    background-color: #FFC107;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

#filter-btn:hover {
    background-color: #DC3545; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#clear-btn:hover {
    background-color: #DC3545; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


select {
    display: block;
    width: 100%;
    padding: 8px;
    color: #8e979f;
    outline: none;
    font-size: 16px;
}

#table-area th {
    text-align: center;
    background-color: #FFC107
    
}

.table-head {
    font-size: 14px;
}

#table-area tr {
    text-align: center;
}


#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
    min-width: 80px;
    font-size: 12px;
}

.loader {
    margin-top: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8e979f;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #8e979f;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #8e979f;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #8e979f;
}

  /* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
    #table-area td {
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    #table-area thead {
    display: none;
    }

    #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
    }

    #table-area tr td:last-child {
    margin-bottom: 20px;
    }

    #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
    }

    #table-area td {
    font-size: 1.25em;
    }

    #table-area tbody td {
    display: block;
    text-align: center;
    }

    #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
    }
}

/* Garage Page */

/*Slide show - https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp*/

*{
    box-sizing: border-box;
}

  /* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

  /* Hide the images by default */
.mySlides {
    display: none;
}

  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #DC3545;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #FFC107;
    color: #DC3545;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

  /* Container for image text */
.caption-container {
    text-align: center;
    font-size: 18px;
    background-color: #DC3545;
    padding: 2px 4px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
