<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Machine Learning Analysis</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/assets/css/bootstrap4-retro.min.css">
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Shrikhand" rel="stylesheet">


</head>

<body>

  <div class="bg-danger navbar-dark text-white">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="/index" class="pl-md-0 p-3 text-white">Garage</a>
            <a href="/viz" class="p-3 text-decoration-none text-white">Visualizations</a>
            <a href="/ML" class="p-3 text-decoration-none text-white">MPG Predictor</a>
            <a href="/play" class="p-3 text-decoration-none text-white">The Mechanics</a>
            <a href="/dataset" class="p-3 text-decoration-none text-white">Under the Hood</a>
            <a href="/about_us" class="p-3 text-decoration-none text-white">About Us</a>
          </div>
        </div>
      </nav>

    </div>
  </div>
  

  <div class="row text-center" style="margin-top:3%">
    <div class="col-md-12">
      <h1 class="display-4">Machine Learning Analysis</h1>
    </div>
  </div>

  <div class="container" style="font-size:20px;">
    <div class="row">
      <div class="col-lg-12 col-md-12" style="margin-top:5%">
        <div class="box" style="padding-bottom: 22px;">
          <h3 class="title"><b>Introduction</b></h3><br>
          <p> In this project we used various machine learning models, trained and tested the data to see the models
            ability to predict the MPG (Mile Per Gallon) for a vehicle and tells us about the efficiency of fuel
            consumption of a vehicle in the 70s and 80s base on other attributes of that vehicle. We used linear,
            decision tree and random forest models.<br>
            <br>
          </p>
          <h3 class="title"><b>Data Preprocessing</b></h3><br>
          <p>
            The first step in our analysis was to clean and pre-process our dataset to make ready for our machine
            learning analysis. The dataset was imported into Jupyter Notebook and read into a pandas dataframe. Data was
            examined for null values and understood prior to machine learning model implementation.<br>
          <br>
          </p>
          <p style="text-align:center;">
            <img style="border:2px groove #FFC107;" class="panel" src="../static/images/MLA1.PNG" alt="Data Gathering and Preprocessing">
          </p>
          <br>
          <br>
          <p>
            To enhance our understanding of the data distribution, we looked at the histogram of numerical features.<br><br>
            <p style="text-align:center;">
              <img style="border:2px groove #FFC107;" class="panel" src="../static/images/MLA2.PNG" alt="Data Histogram">
            </p><br>
          </p>
          <p>
            It was observed that "origin" and "cylinders" are far from normal distribution and for that reason this
            features were analyzed and label encoded as categorical.<br>
          </p>
          <br>
          <h3 class="title"><b>Correlation</b></h3><br>
          <p>
            The gerenarion of a pair plot was able to give us a brief overview of how each variable behaves with respect
            to every other variable. In this case, the MPG column (the target variable) is negatively correlated with
            the displacement, weight, and horsepower features.<br>
            <br>
            Also, the pair plot clearly demonstrates that "cylinders" and "origin" fields do not shows a normal
            distribution as they represent a specific value and can be considered categorical values.<br><br>
          </p>
          <p style="text-align:center;">
            <img style="border:2px groove #FFC107;" class="panel" src="../static/images/ml4.PNG" alt="Pair plot">
          </p><br>
          <p>
            In the correlation analysis we have found that weight and displacement have the highest correlation with
            MPG. On the other hand, origin and number of cilynders have the lowest correlation.<br><br>
          </p>
          <p style="text-align:center;">
            <img style="border:2px groove #FFC107;" class="panel" src="../static/images/ml5.PNG" alt="Pair plot">
          </p>
          <br>
          <h3 class="title"><b>Selecting and Training Machine Learning Models</b></h3><br>
          <p>
            Since this is a regression problem, the following models were selected:<br><br>
            1. Linear Regression<br>
            2. Ridge<br>
            3. Lasso<br>
            4. ElasticNet<br>
            5. Decision Tree Regressor<br>
            6. Random Forest Regressor<br>
            7. Ada Boost Regressor<br>
            8. Gradient Boosting Regressor<br><br>
            Each of the models were evaluated using Root Mean Squared Error (typical performance metric for regression
            problems).<br><br>
          </p>
          <p style="text-align:center;">
            <img style="border:2px groove #FFC107;" class="panel" src="../static/images/MLA3.PNG" alt="Models RMSE">
          </p>
          <br>
          <br>
          <p>Based on this comparison, the Random Forest model was choosen because it has the lowest RMSE and doesn't
            overfit the in sample data.</p><br>
          <h3 class="title"><b>Random Forest Final Model</b></h3><br>
          <p style="text-align:center;">
            <img style="border:2px groove #FFC107;" class="panel" src="../static/images/rf-final.PNG" alt="RF Final">
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>